<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
  <head>
    <vtex:template id="TokStokCommon-ResourceHints"/>
    <vtex:template id="TokStokCommon-Head"/>
    <vtex:metaTags/>
    <vtex:template id="TokStokCommon-JsonLd"/>
    <vtex:template id="TokStokCommon-Styles"/>
    <vtex:template id="TokStokMobile-Styles"/>
    <vtex:template id="TokStokCommon-ScriptsHeaderTheme"/>
    <vtex:template id="TokStokCommon-ScriptsHeaderSocial"/>
    <link rel="stylesheet" href="https://tokstok.vteximg.com.br/arquivos/ids/1872130/pre-blackfriday-style.css" media="all"/>
    <link rel="canonical" href="https://www.www.tokstok.com.br/blackfriday" />
  </head>
  <body id="pre-blackfriday">
    <vtex:template id="TokStokMobile-Header"/>
    <header class="pre-blackfriday-header">
        <nav>
            <h1><a href="">BLACK FRIDAY NA TOK&amp;STOK</a></h1>
            <ul>
                <li><a alt="Sofás" href="/blackfriday/sofas">SOFÁS</a></li>
                <li><a alt="Poltronas" href="/blackfriday/poltronas">POLTRONAS</a></li>
                <li><a alt="Cadeiras" href="/blackfriday/cadeiras">CADEIRAS</a></li>
                <li><a alt="Mesas" href="/blackfriday/mesas">MESAS</a></li>
                <li><a alt="Estantes" href="/blackfriday/estantes">ESTANTES</a></li>
                <li><a alt="Camas" href="/blackfriday/camas">CAMAS</a></li>
            </ul>
        </nav>
        <div class="pre-blackfriday-banner">
            <div class="pre-blackfriday-col">
                <img src="https://tokstok.vteximg.com.br/arquivos/ids/1872129/logo-black-friday.png"/>
            </div>
            <div class="pre-blackfriday-col alinhar-vertical">
                <div class="container-topo-header">
                    <div class="icone-categoria">
                        <a alt="Sofás" class="pre-blackfriday-ico-categoria" href="/blackfriday/sofas" tabindex="-1">
                            <vtex:contentPlaceHolder id="SVG ICONE CATEGORIA" />
                        </a>
                    </div>
                    <div class="texto-categoria">
                        <h2><vtex:contentPlaceHolder id="NOME CATEGORIA" /><br/>
                        <span class="light pre-blackfriday-color-marrom font-subtit-internas">NA BLACKFRIDAY</span></h2>                       
                    </div>
                </div>
                <div class="container-topo-header">
                    <div class="texto-secundario">
                        <p><vtex:contentPlaceHolder id="TEXTO CATEGORIA" /></p>
                    </div>
                </div>
                <div class="container-topo-header">
                    <div class="cadastre-se">
                        <a href="#"><span>CAD</span>ASTRE-SE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pre-blackfriday-banner-form pre-blackfriday-banner pre-blackfriday-bgcolorcinza">
            <div class="pre-blackfriday-col alinhar-vertical">
                <div class="container-topo-header">
                    <div class="texto-secundario">
                        <h3>As melhores ofertas de móveis e decoração da Black Friday!</h3>
                        <p>A Black Friday Tok&amp;Stok 2018 foi um sucesso! Se você perdeu a chance, ou quer aproveitar a data novamente, fique ligado! A Black Friday Tok&amp;Stok promete ainda mais em 2019.</p>
                    </div>
                </div>
            </div>
            <div class="pre-blackfriday-col">
                <div class="pre-blackfriday-form">
                    <form action="" method="GET">
                        <input type="text" value="" placeholder="SEU NOME"  required/>
                        <input type="text" class="cpf" placeholder="DIGITE SEU CPF" autocomplete="off"  onkeypress="onlynumber()" />
                        <input type="email" value="" placeholder="SEU EMAIL" required />
                        <select name="regiao" class="regioes-inputs-bfriday">
                            <option value="">SELECIONE UMA REGIÃO</option>
                            <option value="N">NORTE</option>
                            <option value="NE">NORDESTE</option>
                            <option value="SE">SUDESTE</option>
                            <option value="S">SUL</option>
                            <option value="CO">CENTRO-OESTE</option>
                        </select>
                        <div class="fin-cadastro-bfriday">
                            <input type="checkbox" name="novidades" value="" class="desejo-inputs-bfriday">
                            <span>Desejo receber novidades, promoções e ideias sobre decoração por e-mail.</span>
                            <input type="submit" name="enviar" value="ENVIAR" class="cadastrar-inputs-bfriday" target="_blank">
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <vtex.cmc:PreBlackFridayMain/>
    <vtex:template id="TokStokMobile-Footer"/>
    <vtex:template id="TokStokCommon-AjaxLoader"/>
    <vtex:template id="TokStokCommon-Overlay"/>
    <vtex:template id="TokStokCommon-Minicart"/>
    <vtex:template id="TokStokCommon-PopupLocation"/>
    <vtex:template id="TokStokCommon-PopupLocationOverlay"/>
    <vtex:template id="TokStokCommon-Scripts"/>
    <vtex:template id="TokStokMobile-Scripts"/>
    <vtex:template id="TokStokCommon-ClearCache"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" type="text/javascript"></script>
    <script language="javascript" src="https://tokstok.vteximg.com.br/arquivos/ids/1874205/pre-black-friday.js" type="text/javascript"></script>
  </body>
</html>